@charset "UTF-8";

	body{
			margin: 0;
			padding: 0;
		}

	.header{
		background-color:orange;
		border-bottom: 2px solid black;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	 h1{
	 	
	 	font-size:30px;
	 	font-weight:bold;
		margin-left: 590px;
		
	} 
	
	.header_nav{
		display: flex;
		list-style: none;
		float: right;
	}
	
	.header_nav li{
		padding: 8px 12px;
		padding-left: 20px;
	}
	
	.menu_l{
		margin-top:100px;
		margin-left:100px;
		float: left;
	}
	
	.menu_r{
		margin-top:100px;
		margin-right:100px;
		float: right;
	}
	
	.cart{
		margin-top: 25vh;
		text-align: center;
	}
	
	.cart_content{
		margin-top:10vh;
		text-align: center;
	}
	
	.footer{
		margin-top:30vh;
		width:100vw;
		border-top:solid thin;
		display: flex;
	}
	
	.footer_menu{
		margin-top:20px;
		justify-content:center;
		padding-left: 250px;
	}
	