@charset "UTF-8";
body{
		background-color: #F2F3F4 ;
	}
	
	.header{
		height: 30vh;
	}
	
	.header #logo{
		width: 350px;
		height: 150px;
		display: block;
		margin-top: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.section{
		min-height: 70vh;
	}
	
	.login{
		text-align: center;
	}
	
	.login>label{
		display: block;
		font-size: 1vw;
	}
	
	.login input{
		padding : 15px 320px 15px 0;
	}
	
	.login>button{
		background-color: #33A1FF;
		color:white;
		padding : 20px 210px 20px 210px;
		font-size: 20px;
	}