@charset "UTF-8";

	.header{
		height: 60vh;
	}
	
	.link_img img{
	    width: 20vw;
	    height: 15vw;
	    margin: 0 1vw;
	}
	
	/* 상단 선데이쉐프, 회원가입, 로그인 */
	.header-section{
		display:flex;
		justify-content:space-around;
		width:100%;
		margin-top: 15px;
	}
	
	.header-section>*{
		display:flex;
		align-items:center;
		width:30%;
	}
	
	.wrap_top-logo{
		width:15%;
	}
	
	.top-logo-text{
		font-size:2vw;
		font-weight:bold;
		align-self: space-between;
	}
	
	.wrap_user{
		width:15%;
		justify-content: space-around;
		font-size:1vw;
	}
	
	/* 형돈이 로고 */
	.site-main{
		display:flex;
		flex-direction:column;
		justify-content:space-around;
		align-self:center;
		width:100%;
		height:25vw;
		
	}
	
	.tit_site{
		font-size: 4.5vw;
		text-align: center;
		margin-top : 80px;
		margin-bottom: 80px;
	}
	
	.tit_site>img{
		width: 630px; 
		height:230px;
		border-radius: 30px;
	}
	
	.section{
		min-height: 70vh;
		width: 1000px;
		margin: 0 auto;
	}
	
	.cart{
		padding: 90px 0 90px;
		text-align: center;
		font-size:30px;
	 	font-weight:500;
	}
	
	.cart_all{
		display:flex;
		padding-bottom : 10px;
		border-bottom: 1px solid black;
		width: 980px;
	}
	
	.button_clear{
		margin: 0 10px auto;
	}
	
	.item_tr{
		display: flex;
		font-size : 1vw;
		height: 100px;
		align-items: center;
		padding: 5px 0 5px 0;
		border-bottom: 1px solid #f4f4f4;
	}
	
	
	.item_checkbox{
		width: 100px;
	}
	
	.item_img{
		width: 150px;
	}
	
	.item_img>img{
		height: 100px;
	}
	
	.item_name{
		width: 320px;
	}
	
	#item_count{
		width: 40px;
	}
	
	.item_price{
		width: 300px;
		text-align: center;
	}
	
	.item_buttun>button{
		background-color: orange;
		color:white;
		box-shadow: 2px 2px 2px gray;
	}
	
	.sum_price{
		margin: 50px auto;
		font-size: 1.5vw;
		text-align: right;
	}
	
	.order{
		background-color: orange;
		box-shadow: 2px 2px 2px gray;
		color: white;
		width: 180px;
		height: 50px;
		float: right;
		
	}
	