@charset "UTF-8";

/* header 영역 */
.header-section{
	display:flex;
	justify-content:space-around;
	align-items:center;
	position:fixed;
	width:100%;
	height:10vh;
	background-color: white;
	z-index:999;
}

.header-section>*{
	display:flex;
	align-items:center;
	width:30%;
}

.wrap_top-logo{
	width:15%;
}

.top-logo-text{
	font-size:2vw;
	font-weight:bold;
	align-self: space-between;
}

.frm_top-search{
	width:55%;
}

.frm_top-search>input{
	border:0 none;
	border-bottom:thin solid;
	width:95%;
}

.frm_top-search>i{
	width:5%;
}

.wrap_user{
	width:15%;
	justify-content: space-around;
	font-size:1vw;
}


/* 메인베너 */
.middle{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	height:35vw;
	background-image: url('../image/main_banner_02.jpg');
	background-size: cover;
}

.nav{
	width:100%;
	background-color: orange;
}

.nav ul{
	list-style: none;
	text-align: center;
	padding:0;
	margin:0;
}

.nav li{
	float: left;
	
	
	
}

.nav a{
	text-align: right;
	color: black;
	width: 130px;
	display: block;
	padding: 20px;
	font-size: 17px;
	font-family: inherit;
	
	
	
}

.search-form{
	margin-top: 10px;
	float: right;
	margin-right: 100px;
}
input[type=text]{
	padding:7px;
	border: none;
	font-size: 16px;
	font-family: inherit;
}

button{
	float: right;
	background: skyblue;
	color:white;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	position: relative;
	padding: 7px;
	font-family: inherit;
	border: none;
	font-size: 16px;
}

.site-main{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-self:center;
	width:100%;
	height:25vw;
	background-color: rgba(255,255,255,0.5);
}

.tit_site{
	height:20%;
	transform:translateY(50%);
	font-size: 4.5vw;
	font-weight:bold;
	text-align: center;
	
}

.frm_main-search{
	display:flex;
	height:10%;
	background-color: white;
}

.frm_main-search>*{
	align-self:center;
	text-align:center;
	display:block;
	width:20%;
	font-size:1.5vw;
}

.frm_main-search>span{
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-color: red;
	color:white;
	height:100%;
}

.input_search{
	display:block;
	width:60%;
	border:0 none;
	text-align:left;
	outline: none;
}

.slide{
	display: inline;
}


.wrap_food{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	position: relative;
	width:70%;
	left:15%;
	margin:5% 0 5% 0;
}

.recent-food{
	font-size:1.5vw;
	font-weight:bold;
	margin-bottom:5% 0 5% 0;
	margin:0;
	text-align: center;
	
}

.food-line{
	display: flex;
	justify-content: space-between;
	margin-bottom:150px;
	padding:0;
	margin:100px;
	
}

.food-line>div{
	width:15%;
	padding:0 1% 0 1%;
}

.food-line>div>img{
	width:100%;
	box-shadow: 3px 3px 2px gray;
}

.tit_food{
	margin-top:4%;
	font-size:1vw;
	text-align: center;
}


/* footer */
.bottom{
	background-color:orange;
	height:15vh;
	text-align: center;
	font-size: 1.5vw;
	display: block;
	padding: 50px;
	
}