@charset "UTF-8";

	body{
			margin: 0;
			padding: 0;
		}

	.header{
		background-color:orange;
		border-bottom: 2px solid black;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	 h1{
	 	
	 	font-size:30px;
	 	font-weight:bold;
		margin-left: 590px;
		
	} 
	
	.header_nav{
		display: flex;
		list-style: none;
		float: right;
	}
	
	.header_nav li{
		padding: 8px 12px;
		padding-left: 20px;
	}
	.my{
		margin-top:50px;
		padding-bottom:40px;
		font-size:5vh;
		font-weight:bold;
		display: flex;
		justify-content: center;
		border-bottom: 2px solid black;
	}
	
	.page{
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-bottom: 2px solid black;
	}
	
	.user{
		margin-left:100px;
		padding-right:100px;
		border-right: 2px solid black;
	}
	
	.list>li{
		padding-left: 100px;
	}
	
	.page ul{
		display: flex;
	}
	
	.page li{
		list-style: none;
	}
	
	.list{
		padding-left:0px;
		margin-right: 100px;
	}
	
	.list_content{
		padding-right: 100px;
	}
	
	.write{
		font-size:3vh;
		display:flex;
		justify-content: center;
		margin-top: 100px;
	}
	
	.board{
		margin-top:1%;
		margin-left:150px;
		width:80%;
		border-top:2px solid black;
		text-align: center;
		align-content: center;
	}
	
	.btn{
		display: flex;
		justify-content: flex-end;
		margin-top:10px;
		margin-right: 160px;
	}
	
	