
/* 검색어 창 */
form{
    margin-top: 5vw;
    display: flex;
    justify-content: flex-end;
    
}
form span{
   font-size: 0.8vw;
    
}

.search_form{
    display: inline;
    width: 35.5vw;    
}

.notice_main_list{
    display: flex;
    justify-content: center;
}

/* 테이블 */
table{
    margin: 1vw 10vw;
}

#title{
    width: 60%;
    text-align: center;
}
#num{
    width: 10%;
    text-align: center;
}
#writer{
    text-align: center;
}
#date{
    width: 12%;
    text-align: center;
}
#view{
    text-align: center;
}
.page_selector{
    display: flex;
    width: 50vw;
    margin-left: 49vw;
    justify-content: space-between;
}
.mg_button{
    margin-right: 9vw;
    margin-top: 1vw;
}
.mg_button button{
    border: 0.8px solid gray;
    border-radius: 2px;
    margin-right: 1vw;

}
.mg_button button:focus{
    border: 0.8px solid gray;
    outline: none;
    color: white;
    background-color: darkgray;

}