@charset "UTF-8";

	body{
			margin: 0;
			padding: 0;
		}

	.content>img{
		padding-right: 150px;
	}
/* 상단 선데이쉐프, 회원가입, 로그인 */
.header-section{
	display:flex;
	justify-content:space-around;
	align-items:center;
	position:fixed;
	width:100%;
	height:10vh;
	background-color: white;
	z-index:999;
}

.header-section>*{
	display:flex;
	align-items:center;
	width:30%;
}

.wrap_top-logo{
	width:15%;
}

.top-logo-text{
	font-size:2vw;
	font-weight:bold;
	align-self: space-between;
}

.wrap_user{
	width:15%;
	justify-content: space-around;
	font-size:1vw;
}


/* 메인 로고 */
.site-main{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-self:center;
	width:100%;
	min-height:25.6vw;
	
}

.tit_site{
	height:20%;
	transform:translateY(50%);
	font-size: 4.5vw;
	font-weight:bold;
	text-align: center;
	margin-bottom: 230px;

}
.tit_site>img{
	width: 650px; 
	height:230px;
	border-radius: 25px;
}

.title{
	font-size:1.5vw;
	font-weight:bold;
	margin-bottom: 2vw;
	margin-top: 2vw;
	text-align: center;
}
section{
	min-height: 60vh;
}

/* 요리검색 */
.wrap_search_box{
	display: flex;
	justify-content: flex-start;
}

.search_box{
    width: 40vw;
    min-height: 10vh;
    margin-left: 18vw;
    transform: translateY(54%);
}

.search_box>label{
	    display: flex;
    flex-wrap: nowrap;
}
#btn_search{
	border: none;
	background: gray;
	color:white;
	padding:3px 8px;
}

#btn_search:focus{
	outline: none;
}
#keyword:focus{
	outline: none;
}

/* 알레르기 영양성분 표시 */


.content{
	display: flex;
    width: 70vw;
    justify-content: center;
    min-height: 30vw;
    background-size: cover;
    margin: 2vw 15vw;
	
}
.wrap{
	display: block;
}

.nutri_page{
	width: 30vw;
    background-color: orange;
    color: white;
    text-align: center;
}
.info_page div{
	margin-bottom: 0.5vw;
}
.info_page p{
	font-size: 0.8vw;
	margin-block : 0.5em;
}
.info_page h4{
	margin-block : 0.5em;
}

/* footer */
.bottom{
	background-color:orange;
	height:15vh;
	text-align: center;
	font-size: 1.5vw;
	display: block;
	padding: 50px;
	
}